:root {
    --background: #585555;
    --main-font: 'Inter', 'Arial', sans-serif;
    --card-background: #3579F5;
    --light-color: #fff;
    --card-title-background: #2364DB;
    --button-text: #4777ED;
}
